.Wrapper{
    position: relative;
    background:black;
    width: 150px;
    color: white;
    border: white solid 3px;
    line-height: 2.5em;
    border-radius: 10px;
}
.Menu{
    position: absolute;
    width: 170px;
    top:2.5em;
    background: white;
    color: black;
    border: grey solid 2px;
    border-radius: 5px;
    display: none;
}
#center{
    
    text-align: center;
}
.Wrapper:hover{
    border: grey solid 3px;
}
.Wrapper:hover .Menu{
    display: block;
    color:black;
}
a{
    color:black;
    text-decoration: none;
}
li{
    list-style-type: none;
    line-height: 25px;
}
ul{
    padding-left: 20px;
    margin: 5px;
}