.header{
    background: purple;
    height: 3em;
    border: black solid 4px;
    border-bottom: 0px;
}
.logo{
    margin: 1em;
    float: left;
}
.title{
    margin: 1em 8em;
    float: right;
}
.menu{
    background: yellow;
    height: 1.5em;
    border:black solid 4px;
    border-bottom: 0px;
}
.wrapper{
    position: relative;
    margin-top: 0.2em;
    margin-left: 1em;
    float:left;
}

.tendina ul{
    position: absolute;
    background: green;
    display: none;
    
}
.tendina a{
    color: blue;
    text-decoration: none;
}
.wrapper:hover{
    border: grey solid 2px;
}
.wrapper:hover .tendina ul{
    display: block;
}
.sidebar{
    background:green;
    width: 30%;
    height: 400px;
    float: right;
    border: black solid 4px;
}
.sidebartext{
    margin: 200px 130px;
}
.sfondocontent{
    border: black solid 4px;
    background: orange;
    width: 69%;
    height:400px;
}
.box1{
    margin: 7px 8px 0px 7px;
    background: red;
    border: black solid 4px;
    height: 11em;
}
.box2{
    border: black solid 4px;
    border-bottom: 0px;
    background: red;
    height: 12.4em;
    margin: 7px 8px 0px 7px;
}
.box3{
    background: cadetblue;
    height: 20px;
    border: black solid 4px;
    border-top: 0px;
    text-align: center;
}
