doctype html
html
    head
        title Robo Planning Preview Mode
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="../Reset.css")
        link(rel="stylesheet" type="text/css" href="style/style.css")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
    body
        div(class="blue")
            div(class="header")
                div(class="logoescritte")
                    div(class="sfondologo")
                        div(class="logo")
                    div(class="scritteheader")
                        div(class="scrittesuperiori")
                            a(href="#" class="campaigns") Campaigns
                            a(href="#" class="collegamenti") Segments
                            a(href="#" class="collegamenti") Products
                            a(href="#" class="collegamenti") Model portfolois
                        div(class="scrittainferiore")
                            p(class="scrittagrande") New Campaigns
                div(class="icone")
                        a(href="#")
                            i(class="fas fa-user")
                        a(href="#") 
                            i(class="fas fa-bell")
                        a(href="#") 
                            i(class="fas fa-comments")
                        a(href="#") 
                            i(class="fas fa-eye")
                        a(href="#") 
                            i(class="fas fa-search")
        div(class="toolbar")
            div(class="iconachecked")
                i(class="fas fa-check-circle")
                span(class="singolascritta") Segment Choice and Analysis
            div(class="iconachecked")
                i(class="fas fa-check-circle")
                span(class="singolascritta") Setup Main Parameters
            div(class="iconachecked")
                i(class="fas fa-check-circle")
                span(class="singolascritta") Strategies and Constraints
            div(class="iconachecked")
                i(class="fas fa-check-circle")
                span(class="singolascritta") Conversions
            div(class="iconachecked")
                i(class="fas fa-circle")
                span(class="singolascritta") Proposals
        div(class="scrittakpis") KPIs
        div(class="boxes")
            div(class="box")
                div(class="contenuto1") Private EBITDA target
                    div(class="contenuto2")
                        div(class="contenuto3") 
                            p(id="gray") Segment   
                            p Retail clients north-east area
                        div(class="contenuto4") Covered Clients
                            p 36,560 on 36,538
                    a(href="#" class="show") 
                        i(class="fas fa-info-circle") Show clients list
            div(class="box")
                div(class="contenuto1") Model portfolios
                    div(class="contenuto2")
                        div(class="numero") 4
                    a(href="#" class="show") 
                        i(class="fas fa-info-circle") Show all
            div(class="box")
                div(class="contenuto1") Target products
                    div(class="contenuto2")
                        div(class="numero") 12
                    a(href="#" class="show") 
                        i(class="fas fa-info-circle") Show all
            div(class="box")
                div(class="contenuto1") Exorected amount
                    div(class="contenuto2")
                        div(class="soldi") 1,200,000,000
                    div(class="valuta") EUR
                    a(href="#" class="show") 
                        i(class="fas fa-info-circle") Show all
            div(class="box")
                div(class="contenuto1") Exorected amount
                    div(class="contenuto2")
                        div(class="soldi") 986,610,000
                    div(class="valuta") EUR
                    a(href="#" class="show") 
                        i(class="fas fa-info-circle") Show all


